@import "./variables.scss";

html {
    // scroll-behavior: smooth;
    font-family: "Jose", Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    background: linear-gradient(-0.02turn, $blueCD, $blueC, $roseC);
    overflow: hidden;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}
