@font-face {
    font-family: "England";
    src: url("~@/assets/fonts/England/England_Signature.ttf");
}

@font-face {
    font-family: "Jose";
    src: url("~@/assets/fonts/JosefinSans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JoseI";
    src: url("~@/assets/fonts/JosefinSans/JosefinSans-Italic.ttf");
}

@font-face {
    font-family: "JoseB";
    src: url("~@/assets/fonts/JosefinSans/JosefinSans-SemiBold.ttf");
}

@font-face {
    font-family: "FeelGood";
    src: url("~@/assets/fonts/lt_feelgood/LT_Feelgood.ttf");
}

@font-face {
    font-family: "FeelGoodB";
    src: url("~@/assets/fonts/lt_feelgood/LT_Feelgood_Bold.ttf");
}

$black:#0b0e11;
$blueCD: #0e2a5a;
$blueC: #296b85;
$sky: #abc2e1;
$skyT: #abc2e14b;
$roseC: #fdc1a9;
$roseCD: #f1928e;
$purpleC: #674d7d;
$green: #42b983;
$red: #8d0101;
$redL: #da3737;

$border-blue: #57b9e0 #164c61 #164c61  #57b9e0;
$border-pink: #ffbdbb #e27d79 #e27d79 #ffbdbb;

$xxl: "only screen and (max-width: 1400px)";
$xl: "only screen and (max-width: 1200px)";
$lg: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 576px)";
$xs: "only screen and (max-width: 425px)";
$xxs: "only screen and (max-width: 320px)";

$animate: all 0.2s ease-in-out;
$scale: scale(1.1);

%animate{
    transition: $animate;
    -webkit-transition: $animate;
    -moz-transition: $animate;
    -ms-transition: $animate;
    -o-transition: $animate;
}

%shadow{
    box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.5);
}

%shadowL{
    box-shadow: 2px 2px 0.6em 0 rgba(0, 0, 0, 0.3);
}

%glass{
    background-color: $skyT;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

%hover{
    @extend %animate;
    &:hover{
        cursor: pointer;
        transform: $scale;
        -webkit-transform: $scale;
        -moz-transform: $scale;
        -ms-transform: $scale;
        -o-transform: $scale;
}
}

%hoverL{
    &:hover{
        cursor: pointer;
        transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
}
}

%inputs{
    border: 0;
    border-bottom: 2px solid $blueCD;
    font-family: "Jose", Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    outline: none;
    transition: all 0.2s ease-in;
    background-color: rgba(255, 255, 255, 0.1) !important;

    &:valid{
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}

%button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-width: 3px;
    border-color: $border-blue;
    background-color: $blueC;
    font-family: "JoseB", Avenir, Helvetica, Arial, sans-serif;
    color: $blueCD;
    font-weight: bold;
    font-size: 1.3rem;
    @extend%animate;
    @extend%hover;
    &:hover{
        color: $purpleC;
        background-color: $roseCD;
        border-color: $border-pink;
    }
    
    &:disabled{
        color: $skyT;
        &:hover{
            cursor: not-allowed;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            background-color: $blueC;
            border-color: $border-blue;
        }
    }
}

.btn{
    @extend%button;
    @extend%shadowL;
    text-align: center;
    border-width: 3px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: $blueC;
    border-style: solid;
    border-color: $border-blue;
    color: $blueCD;
    padding: 0.8rem 1.5rem;
    margin: 1rem auto 0;
    &:hover{
        color: $purpleC;
        background-color: $roseCD;
        border-color: $border-pink;
    }

    svg{
        margin-right: 0.2rem;
    }
}

@media #{$xs}{
    .btn{
        font-size: .8rem;
        padding: 3px;
        width: 120px;
    }
}

%cta{
    padding: 5px 20px;
    border: 1px solid $black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: "joseB";
    font-size: 1.5rem;
    @extend%animate;
    &:hover{
        cursor: pointer;
        background-color: green;
        color: white;
        border: 1px solid white;
    }
}

.errormsg{
    display: block;
    color: $red;
    font-size: .8rem;
}

.inputerror{
    border: 0;
    border-bottom: 2px solid $red !important;
}

.labelok{
    color: $blueCD !important;
    transform: translateY(-30px) !important;
    font-size: .8rem !important;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-30px) !important;
    -moz-transform: translateY(-30px) !important;
    -ms-transform: translateY(-30px) !important;
    -o-transform: translateY(-30px) !important;
}